<div class="container">
  <h2>Current Flight Status</h2>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Flight Number</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Departed At</th>
            <th scope="col">Arrives At</th>
            <th scope="col">Maps</th>
          </tr>
        </thead>
        <tbody *ngFor="let current of currentAirports">
          <tr>
            <th scope="row">{{ current.flightNumber }}</th>
            <td>{{ current.from }}</td>
            <td>{{ current.to }}</td>
            <td>{{ current.departsAt }}</td>
            <td>{{ current.arrivesAt }}</td>
            <td>
              <button
                (click)="FlightsOpenMap(current.latitude, current.longitude)"
              >
                Map
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4" id="a"><div id="map"></div></div>
  </div>
</div>
